<div class="wrapper inner-wrapper">
  <section class="legal-page-banner">
    <div class="container">
      <div class="text-center">
        <h1>LEGAL PAGE</h1>
      </div>
    </div>
  </section>
  <section class="legal-page-content">
    <div class="container">
      <p>
        Le nom de domaine silent-seeds.com est la propriété de l’entreprise Synex B.V. qui, conformément à loi
        Hollandaise relative aux Services de la Société de l’Information et au commerce électronique, est inscrite au
        registre du commerce du KVK sous les informations suivantes :<br>
        SYNEX GROUP B.V. <br>
        Blaak 320, 3011 TA, Rotterdam Holland<br>
        KVK Number of registration : 82859183 <br>
        KenMerk :KVK03-2343328
      </p>
      <h3>1. Contenu du site web et liens</h3>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing
      </p>
      <h3>2. Échange ou diffusion d’informations</h3>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd
      </p>
      <h3>3. Actualisation et modification du site internet</h3>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd
      </p>
      <h3>4. Contenu du site web et liens</h3>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing
      </p>
      <h3>5. Échange ou diffusion d’informations</h3>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd
      </p>
      <h3>6. Actualisation et modification du site internet</h3>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd
      </p>
    </div>
  </section>
</div>

{% schema %}
{
  "name": "Legal Section",
  "settings": [],
  "presets": [
    {
      "name": "Legal Section"
    }
  ]
}
{% endschema %}
