{% if section.blocks.size > 0 %}
  <div class="wrapper">
    <section class="marqee-list home-marqee" data-section="marquee-section">
      <div class="marqee-slider">
        {% for block in section.blocks %}
          {% if block.settings.marqeeitem != blank %}
            <div class="marqee-item" {{ block.shopify_attributes }}>
              <p>{{ block.settings.marqeeitem }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </section>
  </div>
{% endif %}
{% schema %}
{
  "name": "Add text in Marqee",
  "settings": [],
  "blocks": [
    {
      "type": "marqee",
      "name": "marqee",
      "settings": [
        {
          "type": "text",
          "id": "marqeeitem",
          "label": "Marqee Item"
        }
      ],
    }
  ],
  "presets": [
    {
      "name": "Marqee Section"
    }
  ]
}
{% endschema %}
