<button class="button" onclick="openPDFModal()">📄 View PDF</button>

<div id="pdfModal" class="pdf-modal">
  <div class="pdf-modal-content">
    <span class="pdf-close" onclick="closePDFModal()">&times;</span>

    <iframe
      src="{{ section.settings.pdf_file }}#toolbar=0&navpanes=0&scrollbar=0&view=FitH"
      class="pdf-frame"
      width="100%"
      height="100%"
    ></iframe>
  </div>
</div>

<style>
    body.no-scroll {
    overflow: hidden;
  }
    .pdf-modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        background: rgba(0, 0, 0, 0.4);  
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .pdf-modal-content {
      position: relative;
      margin: 2% auto;
      width: 50%;
      background: #fff;
      padding: 25px;
      border-radius: 10px;
      height: 90%;
    }

    .pdf-close {
      position: absolute;
      top: -9px;
      right: -9px;
      font-size: 23px;
      cursor: pointer;
      background: red;
      width: 35px;
      height: 36px;
      text-align: center;
      display: flex;
      border: 3px solid white;
      justify-content: center;
      color: white;
      border-radius: 52px;
  }
  @media (max-width: 768px) {
    .pdf-modal-content {
      width: 95%;
      height: 85vh;
    }
  }
</style>

<script>
  const modal = document.getElementById('pdfModal');
  function openPDFModal() {
    modal.style.display = 'block';
    document.body.classList.add('no-scroll');
  }

  function closePDFModal() {
    modal.style.display = 'none';
    document.body.classList.remove('no-scroll');
  }

  window.addEventListener('click', function (e) {
    if (e.target === modal) {
      closePDFModal();
    }
  });

  window.addEventListener('keydown', function (e) {
    if (e.key === 'Escape') {
      closePDFModal();
    }
  });
</script>

{% schema %}
{
  "name": "pdf",
  "settings": [
    {
      "type": "url",
      "id": "pdf_file",
      "label": "Upload PDF Link"
    }
  ],
  "presets": [
    {
      "name": "PDF Section"
    }
  ]
}
{% endschema %}
